<body>
  <div class="conteudo">
    <!-- Conteúdo abaixo da barra superior -->
    <p-button class="botao" label="Iniciar Desafio" (onClick)="capturarDadosWeb()" [disabled]="ativaSteps"></p-button>
  </div>

  <div *ngIf="ativaSteps">
    <p-steps [model]="steps" [readonly]="true" [(activeIndex)]="activeIndex"></p-steps>
    <p-progressSpinner class="spinnerPadrao"*ngIf="processando"></p-progressSpinner>
  </div>

  <div *ngIf="started" style="padding-top: 30px;">
    <div style="padding-top: 20px;">
      <div class="tituloTabela">CANDIDATOS POR CADA ESTADO</div>
      <p-table [value]="candidadosEstado" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Estado</th>
            <th>Quantidade</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-candidato>
          <tr>
            <td>{{ candidato.estado }}</td>
            <td>{{ candidato.totalUsuarios }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div style="padding-top: 20px;">
      <div class="tituloTabela">IMC POR FAIXA ETÁRIA</div>
      <p-table [value]="imcMedioPorFaixaEtaria" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Faixa Etária</th>
            <th>IMC Médio</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-imc>
          <tr>
            <td>{{ imc.faixaIdade - 10 }} - {{ imc.faixaIdade }}</td>
            <td>{{ imc.imcMedio }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div style="padding-top: 20px;">
      <div class="tituloTabela">PERCENTUAL DE OBESOS ENTRE HOMENS E MULHERES</div>
      <p-table [value]="obesosEntreHomensMulheres" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Gênero</th>
            <th>Total</th>
            <th>Obesos</th>
            <th>Percentual</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-obeso>
          <tr>
            <td>{{ obeso.sexo }}</td>
            <td>{{ obeso.total }}</td>
            <td>{{ obeso.obesos }}</td>
            <td>{{ obeso.percentual }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div style="padding-top: 20px;">
      <div class="tituloTabela">MÉDIA DE IDADE POR TIPAGEM SANGUÍNEA</div>
      <p-table [value]="mediaIdadeTipoSanguineo" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Tipo Sanguíneo</th>
            <th>Idade Média</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-obj>
          <tr>
            <td>{{ obj.tipoSanguineo }}</td>
            <td>{{ obj.valor }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div style="padding-top: 20px;">
      <div class="tituloTabela">QUANTIDADE POSSÍVEIS DOADORES POR TIPO SANGUINEO RECEPTOR</div>
      <p-table [value]="possiveisDoadoresPorReceptor" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Tipo Sanguíneo Receptor</th>
            <th>Quantidade Doadores</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-doadorereceptor>
          <tr>
            <td>{{ doadorereceptor.tipoSanguineo }}</td>
            <td>{{ doadorereceptor.valor }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</body>
