.tituloTabela {
  background-color: rgb(84, 94, 235);
  color: #fff;
  text-align: center;
  align-content: v;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
}

.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

