.navbar {
  background-color: #160d96;
  color: #fff;
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.texto-barra-superior {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  z-index: 9999;
  padding-top: 2vh;
  padding-left: 2vh;
  font-size: 4vh;
}
